body {
    text-align: center;
}

h1 {
    margin: auto;
}

#timer {
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

th, td{
    padding: 3px;
}
